html{
	font-family:"Source Sans Pro", Arial, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #111634;
}

main{
	width: 90%;
    margin-left: auto;
    margin-right: auto;
	color: #F5F3F4;
}

h1{
	color: #D04828;
	font-size: 200px;
	font-weight: 400;
	text-align: center;
	margin-top: 0px;
	margin-bottom: 0px;
	padding-bottom: 0px;
	font-family: 'Are You Serious';

}

.tekeningen h1{
	padding-top: 14vw;
	line-height: 18vw;
	font-size: 20vw;

}

.tekeningen{
	background-image: url(images/achtergrond.png);
	background-position: top;
	background-size: 90%;
	background-repeat: no-repeat;
	height: auto;
	padding-bottom: 100px;
}

h2{
	color: #D78635;
	font-size: 40px;
	font-weight: 600;
	text-align: center;
	font-family: "Gloria Hallelujah";
	text-indent: 25vw;
	margin-top: -30px;
	padding-top: 0px;
	line-height: 26px;
}

.tekeningen h2{
	margin-top: 0px;
	font-size: 2vw;
}

.blokjes{
	width: 600px;
	margin: 100px auto 20px auto;
	padding-top: 0px;
}

section.blokjes:last-child{
	margin-bottom: 200px;
}

h3{
	font-size: 25px;
	color: #D04828;
	font-family: "Gloria Hallelujah";
	margin: 20px;
}

.rechts h3{
	text-align: right;
}


p.uitleg{
	color: #F5F3F4;
	font-size: 20px;
	font-weight: 300;
	margin: 20px;
}

p.uitleg a{
	text-decoration: underline;
	color: #F5F3F4;
}

.rechts p{
	text-align: right;
}

figure{
	margin: 0;
}

img.rond{
	border-radius: 50%;
	width: 295px;
	height: 295px;
	margin-right: 20px;
	margin-left: 20px;
	margin-bottom: 5px;
}

.links img{
	float: left;
}

.rechts img{
	float: right;
}

p.knop a{
	text-decoration: none;
	font-weight: 600;
	font-family: "Gloria Hallelujah";
	color: #F5F3F4;
	padding: 5px 20px;
	background-color: #D04828;
	border-radius: 5px;
}

p.knop a:hover{
	background-color: #F5F3F4;
	color: #111634;
}

p.knop a:active{
	background-color: #F5F3F4;
	color: #D04828;
}

ul{
	list-style-type: none;
	border: 3px;
	border-style: none none solid none ;
	border-color: #F5F3F4;
	padding-bottom: 0px;
	height: 25px;
	padding: 0px 40px 0px 0px;
	margin-top: 0px;
}

li{
	float: right;
	padding: 10px 20px;
	padding-top: 0px;

}


a.navigatie{
	text-decoration: none;
	font-size: 1.5vw;
	font-family: "Gloria Hallelujah";
  	color: #F5F3F4;
	margin: 0px;
	padding: 0px 2px;
  	text-align: center;
	display: inline;
	background-color: #111634;
	line-height: 30px;
}

a.navigatie:hover{
	color: #D04828;
}

p.logo{
	display: inline-block;
	line-height: 20px;
	padding: 0px;
	padding-top: 40px;
	margin: 0px;
	margin-left: 30px;
}

p.logo a{
	text-decoration: none;
	font-size: 80px;
	font-family: 'Are You Serious';
	color: #D04828;
	padding: 5px;
}

.project{
	margin-right: 20px;
	float: left;
	border: 5px solid;
	border-color: #D78635;
	border-radius: 10px;
	width: 400px;
}

article{
	text-align: center;
	padding-top: 20px;
	padding-bottom: 20px;
}

.project a{
	text-decoration: none;
	color: #F5F3F4;
}

.project:hover{
	border-color: #80BFAD;
}

article h3{
	margin-top: 0px;
	margin-bottom: 10px;
}

.project article img{
	width: 90%;
	margin-bottom: 20px;
	border: 2px solid #F5F3F4;
}

article table{
	display: inline;
}

article th{
	font-weight: 400;
	text-align: left;
	padding-left: 10px;
}

.fotokeuze{
	margin-left: auto;
	margin-right: auto;
	max-width: 560px;
	padding-bottom: 650px;
	margin-bottom: 50px;
	background-color: #80BFAD;
	border-radius: 10px;
}

.nietzichtbaar{
	display: none;
}

.miniFoto{
	cursor: pointer;
	float: left;
	margin: 5px;
}

.keuze{
	position: relative;
}

.test{
	top: 120px;
	position: relative;
}

img.groot{
	position: absolute;
	display: none;
	max-height: 500px;
	max-width: 100%;
}

.miniFoto img{
	box-sizing: border-box;
	max-width: 100px;
	max-height: 100px;
}

.keuze label>img:hover{
	border: 2px solid #D04828;
}

input[type=radio]:checked + .keuze label>img {
	border: 2px solid #D78635;
}

input[type=radio]:checked + .keuze .test img.groot{
	display: block;
}

form{
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}

legend{
	font-family: "Gloria Hallelujah";
	color:#D78635;
	font-size: 30px;
	padding-left: 5px;
	padding-right: 5px;
}

fieldset{
	border-radius: 20px;
	border-width: 10px;
	border-color: #80BFAD;
	border-style: solid;
}

fieldset table tr th{
	vertical-align: top;
	font-weight: 400;
	text-align: left;
	padding-left: 10px;
	font-family: "Gloria Hallelujah";
}

fieldset table tr.bericht{
	color:#D78635;
	font-size: 20px;
}

input.knop{
	all: unset;
	background-color: #80BFAD;
	color: #111634;
	font-family: "Gloria Hallelujah";
	font-weight: 700;
	padding: 0px 10px;
	border-radius: 5px;
}